.mainlogo {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Added gap for better spacing on small screens */

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: 1024px) {
        gap: 0; /* Remove gap for larger screens */
    }
}

.mainLogoLink {
    display: inline-block;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 15px;

    &:hover {
        transform: translateY(-10px);
    }

    @media (max-width: 768px) {
        padding: 8px 12px; /* Smaller padding for smaller screens */
        border-radius: 15px; /* Slightly smaller border radius */
    }

    @media (min-width: 768px) {
        padding: 12px 18px; /* Larger padding for larger screens */
        border-radius: 20px; /* Original border radius for larger screens */
    }
}
